<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Air Force Bullets</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-env-ref>
    <resource-env-ref-name>jdbc/db</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>common.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/restricted/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>11</session-timeout>
  </session-config>
  <error-page>
    <error-code>401</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>servlets.ActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/ActivationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCreationServlet</servlet-name>
    <servlet-class>servlets.UserCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreationServlet</servlet-name>
    <url-pattern>/UserCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBulletAjax</servlet-name>
    <servlet-class>bulletAjax.DeleteBulletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBulletAjax</servlet-name>
    <url-pattern>/restricted/DeleteBulletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBulletAjax</servlet-name>
    <servlet-class>bulletAjax.GetBulletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBulletAjax</servlet-name>
    <url-pattern>/restricted/GetBulletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertBulletAjax</servlet-name>
    <servlet-class>bulletAjax.InsertBulletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBulletAjax</servlet-name>
    <url-pattern>/restricted/InsertBulletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBulletAjax</servlet-name>
    <servlet-class>bulletAjax.UpdateBulletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBulletAjax</servlet-name>
    <url-pattern>/restricted/UpdateBulletAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserAjax</servlet-name>
    <servlet-class>personAjax.GetUserAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserAjax</servlet-name>
    <url-pattern>/restricted/GetUserAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAjax</servlet-name>
    <servlet-class>personAjax.SearchAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAjax</servlet-name>
    <url-pattern>/restricted/SearchAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePersonAjax</servlet-name>
    <servlet-class>personAjax.UpdatePersonAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonAjax</servlet-name>
    <url-pattern>/restricted/UpdatePersonAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveRequestAjax</servlet-name>
    <servlet-class>viewerAjax.ApproveRequestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequestAjax</servlet-name>
    <url-pattern>/restricted/ApproveRequestAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteVieweeRelationshipAjax</servlet-name>
    <servlet-class>viewerAjax.DeleteVieweeRelationshipAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVieweeRelationshipAjax</servlet-name>
    <url-pattern>/restricted/DeleteVieweeRelationshipAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteViewerRelationshipAjax</servlet-name>
    <servlet-class>viewerAjax.DeleteViewerRelationshipAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteViewerRelationshipAjax</servlet-name>
    <url-pattern>/restricted/DeleteViewerRelationshipAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVieweeAjax</servlet-name>
    <servlet-class>viewerAjax.GetVieweeAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVieweeAjax</servlet-name>
    <url-pattern>/restricted/GetVieweeAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetViewerAjax</servlet-name>
    <servlet-class>viewerAjax.GetViewerAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetViewerAjax</servlet-name>
    <url-pattern>/restricted/GetViewerAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetViewerRequestAjax</servlet-name>
    <servlet-class>viewerAjax.GetViewerRequestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetViewerRequestAjax</servlet-name>
    <url-pattern>/restricted/GetViewerRequestAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestAjax</servlet-name>
    <servlet-class>viewerAjax.RequestAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestAjax</servlet-name>
    <url-pattern>/restricted/RequestAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePasswordAjax</servlet-name>
    <servlet-class>personAjax.UpdatePasswordAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordAjax</servlet-name>
    <url-pattern>/restricted/UpdatePasswordAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEmailAjax</servlet-name>
    <servlet-class>personAjax.UpdateEmailAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmailAjax</servlet-name>
    <url-pattern>/restricted/UpdateEmailAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAccountAjax</servlet-name>
    <servlet-class>personAjax.DeleteAccountAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountAjax</servlet-name>
    <url-pattern>/restricted/DeleteAccountAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactAjax</servlet-name>
    <servlet-class>commonAjax.ContactAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactAjax</servlet-name>
    <url-pattern>/restricted/ContactAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeartbeatAjax</servlet-name>
    <servlet-class>commonAjax.HeartbeatAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeartbeatAjax</servlet-name>
    <url-pattern>/restricted/HeartbeatAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNotificationAjax</servlet-name>
    <servlet-class>notificationAjax.GetNotificationAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotificationAjax</servlet-name>
    <url-pattern>/restricted/GetNotificationAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteNotificationAjax</servlet-name>
    <servlet-class>notificationAjax.DeleteNotificationAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNotificationAjax</servlet-name>
    <url-pattern>/restricted/DeleteNotificationAjax</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ArchiveBulletAjax</servlet-name>
    <servlet-class>bulletAjax.ArchiveBulletAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchiveBulletAjax</servlet-name>
    <url-pattern>/restricted/ArchiveBulletAjax</url-pattern>
  </servlet-mapping>
</web-app>